.body {
  background-color: #f9f9f9;
}

.my-div {
  height: 45rem;


  @media (min-width: 1280px) and (max-width: 1535px) {
    .my-div {
      width: 20rem;
    }
  }

  @media (min-width: 1536px) {
    .my-div {
      width: 28rem;
    }
  }
}
